.todaysdeal {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border:1px solid rgb(216, 216, 216);
}

.todaysdealheading {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid rgb(216, 216, 216);
    background-color: rgb(242, 242, 242);
}

.dealbox {
    display: flex;
    border-bottom:1px solid rgb(216, 216, 216);
}

.dealselectedimage {
    padding: 25px;
    width: 45%;
}

.dealimage {
    margin: 60px;
}

.dealdetails {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.dealname {
    margin-top: 60px;
    font-size: 22px;
    font-family: sans-serif;
}

.pricedetails {
    display: flex;
    align-items: baseline;
    font-family: 'Raleway', sans-serif;
}

.dealprice {
    color: tomato;
    font-family: 'Raleway', sans-serif;
}

.oldprice {
    color: gray;
    text-decoration: line-through;
}

.dealselector {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
}

.dealselectionbox {
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
}

.dealselectionimage {
    padding: 10px;
    width: 100px;
    height: 100px;
}

a {
    color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover .dealname {
  text-decoration: none;
  color: #FF7D34;
}

a:active {
  text-decoration: none;
}