.resetpasswordblock {
    font-family: "Open Sans", sans-serif;
    max-width: 500px;
    min-height: 300px;
    padding-top: 30px;
    margin: auto auto;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
}

.resetpasswordtext {
    margin-bottom: 15px;
}

.resetbutton {
    margin-top: 25px;
    background-color: rgb(255, 159, 143);
    font-weight: bold;
}

.signuplabel {
    margin-top: 0px;
    font-weight: bold;
}