<div>

    <div class="resetpasswordblock">
        <p class="resetpasswordtext h2">Password Reset</p>

        <p>
            If you lost your password and wish to reset, please provide your email address in the below box.
            We will sent a reset password link to your mail.
        </p>

        <form [formGroup]="resetpasswordform" (ngSubmit)="onSubmit()">
            <div class="firstblock">
                <label for="" class="signuplabel">Email Id:</label>
                <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': form_errors.email_id.length > 0}" id="email_id" formControlName="email_id">
                <p [ngClass]="{'invalid-feedback': form_errors.email_id.length > 0}">{{form_errors.email_id}}</p>

                <button type="submit" class="btn btn-block resetbutton" [disabled]="submitted && !resetpasswordform.valid">Reset</button>
            </div>
        </form>

        

    </div>
</div>