
.navbarfixed {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 1;
    padding-left: 0px;
    padding-right: 0px;
}

.container1 {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.contentstyle {
    margin-top: 100px;
}