<div class="btn-group userdropdowngroup" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">
      Hi User! <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdownmenu"
        role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" href="#">Your Orders</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Your Account</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Your Wishlist</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem">
        <a routerLinkActive="active" class="dropdown-item" routerLink="/user/logout">Logout</a>
      </li>
    </ul>
</div>

